[Unit]
Description= Shooting timelapse images.

[Timer]
AccuracySec=1
OnBootSec=60
OnUnitActiveSec=10
Unit=raspi-timelapse.service

[Install]
WantedBy=multi-user.target
